/* Generic Styles */
body {
    margin: 0;
}

header {
    position: sticky;
    top: 0%;
}

nav {
    background-color: gray;
    height: 2em;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    text-align: center;
    margin: 0 -0.15em;
    padding: 0.4em 0 0.5em;
    width: 5.5em;
}

nav li:hover {
    background-color: whitesmoke;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0.4em 1.2em 0.5em;
}

nav p {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    font-size: 2em;
    height: 3em;
    background-color: gray;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

footer p {
    margin: 0;
    padding: .9em 0;
}

/* Home Page Styles*/
#tagline {
    text-align: center;
}

#featured {
    padding-top: 1em;
}

#projects {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.project {
    width: 35em;
    padding: 0 5em;
}

.project-img {
    width: 550px;
}

.title {
    font-size: 30px;
    margin-bottom: 0;
}

.project-body {
    font-size: 20px;
}


/* About Page Styles */
#about {
    display: inline-flex;
    margin: 0 auto;
    align-self: center;
}

main.about {
    display: flex;
}

div.about {
    padding: 3em 0;
    width: 20em;
}

#about-h2 {
    text-align: left;
}

#headshot {
    width: 300px;
    height: 450px;
}

/* Demo Reel Styles */
h2 {
    text-align: center;
    font-size: 3em;
    width: 10em;
    height: 1em;
    margin: .5em auto;
}

#SD-Reel {
    display: block;
    margin: 0 auto;
    padding-bottom: 1em;
}

/* Contact Page Styles*/

h1.contact {
    padding-top: 3em;
    text-align: center;
}

h2.contact { 
    text-align: center;
    width: 100%;
}